@charset "UTF-8";

body,
.interface-feed{
    margin 0 auto;
    background: rgba(254, 217, 158, 1);
    background: -moz-linear-gradient(top, rgba(254, 217, 158, 1) 0%, rgba(204, 204, 204, 1) 37%, rgba(204, 204, 204, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254, 217, 158, 1)), color-stop(37%, rgba(204, 204, 204, 1)), color-stop(100%, rgba(204, 204, 204, 1)));
    background: -webkit-linear-gradient(top, rgba(254, 217, 158, 1) 0%, rgba(204, 204, 204, 1) 37%, rgba(204, 204, 204, 1) 100%);
    background: -o-linear-gradient(top, rgba(254, 217, 158, 1) 0%, rgba(204, 204, 204, 1) 37%, rgba(204, 204, 204, 1) 100%);
    background: -ms-linear-gradient(top, rgba(254, 217, 158, 1) 0%, rgba(204, 204, 204, 1) 37%, rgba(204, 204, 204, 1) 100%);
    background: linear-gradient(to bottom, rgba(254, 217, 158, 1) 0%, rgba(204, 204, 204, 1) 37%, rgba(204, 204, 204, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fed99e', endColorstr='#cccccc', GradientType=0);
}

body {
    overflow-x: hidden;    
}

/*-------------------------------------------------------------
       Log-in Log-out
--------------------------------------------------------------*/

.cd-switcher,
.btn{
    margin: 0;
}


.form-login{
    margin:0 auto;
    text-align: center;
}

.form-login-social h3 {
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  color:#fff;
   margin: 0 auto;
}

.fab > span{
  color: rgba(66, 78, 83, .5);
  font-size: 2.5em;
}

@media screen and (max-width: 748px) {
    .section-testimonials-block {
      visibility: hidden;
      height: 0;
    }
    .form-login{
      width: 100%;
    }
    .form-login-block{
        margin-bottom: 50%;
    }
  }

  .terms-class {
    display: none;
    position: fixed;
    z-index: 99999;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-header {
    background-color: #585858;
    color: #F3F3F3;
  }

  .modal-body {padding: 2px 16px;}

  .modal-footer {
    padding: 2px 16px;
    background-color: #585858;
    color: #F3F3F3;
  }

iframe{
  width: 100%;
  margin:0 auto;
  background: rgba(204, 204, 204, 1);
}

a {
  color: #2f889a;
  text-decoration: none;
}

img {
  max-width: 100%;
}

input, textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
}
input::-ms-clear, textarea::-ms-clear {
  display: none;
}

.cd-user-modal-container {
  position: relative;
  width: 90%;
  max-width: 600px;
  background: #FFF;
  margin: 3em auto 4em;
  cursor: auto;
  border-radius: 0.25em;

}
.cd-form .fieldset {
  position: relative;
  margin: 1.4em 0;
}
.cd-form .fieldset:first-child {
  margin-top: 0;
}
.cd-form .fieldset:last-child {
  margin-bottom: 0;
}
.cd-form label {
  font-size: 14px;
  font-size: 0.875rem;
}
.cd-form label.image-replace {
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  text-shadow: none;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.cd-form label.cd-username {
  background-image: url("../img/cd-icon-username.svg");
}
.cd-form label.cd-email {
  background-image: url("../img/cd-icon-email.svg");
}
.cd-form label.cd-password {
  background-image: url("../img/cd-icon-password.svg");
}
.cd-form input {
  margin: 0;
  padding: 0;
  border-radius: 0.25em;
}
.cd-form input.full-width {
  width: 100%;
}
.cd-form input.has-padding {
  padding: 12px 20px 12px 50px;
}
.cd-form input.has-border {
  border: 1px solid #d2d8d8;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.cd-form input.has-border:focus {
  border-color: #343642;
  box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
  outline: none;
}
.cd-form input.has-error {
  border: 1px solid #d76666;
}
.cd-form input[type=password] {
  padding-right: 65px;
}
.cd-form input[type=submit] {
  padding: 16px 0;
  cursor: pointer;
  background: #2f889a;
  color: #FFF;
  font-weight: bold;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
  background: #3599ae;
  outline: none;
}
.cd-form .hide-password {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 15px;
  border-left: 1px solid #d2d8d8;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 14px;
  font-size: 0.875rem;
  color: #343642;
}
.cd-form .cd-error-message {
  display: inline-block;
  position: absolute;
  left: -5px;
  bottom: -35px;
  background: rgba(215, 102, 102, 0.9);
  padding: .8em;
  z-index: 999;
  color: #FFF;
  font-size: 13px;
  font-size: 0.8125rem;
  border-radius: 0.25em;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
  -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
  transition: opacity 0.2s 0, visibility 0 0.2s;
}
.cd-form .cd-error-message::after {
   triangle 
  content: '';
  position: absolute;
  left: 22px;
  bottom: 100%;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}
.cd-form .cd-error-message.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s 0, visibility 0 0;
  -moz-transition: opacity 0.2s 0, visibility 0 0;
  transition: opacity 0.2s 0, visibility 0 0;
}
@media only screen and (min-width: 600px) {
  .cd-form {
    padding: 2em;
  }
  .cd-form .fieldset {
    margin: 2em 0;
  }
  .cd-form .fieldset:first-child {
    margin-top: 0;
  }
  .cd-form .fieldset:last-child {
    margin-bottom: 0;
  }
  .cd-form input.has-padding {
    padding: 16px 20px 16px 50px;
  }
  .cd-form input[type=submit] {
    padding: 16px 0;
  }
}

.cd-form-message {
  padding: 1.4em 1.4em 0;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .cd-form-message {
    padding: 2em 2em 0;
  }
}

.cd-close-form {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: -40px;
  background: url("../img/cd-icon-close.svg") no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#cd-login, #cd-signup, #cd-reset-password {
  display: none;
}

#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
  display: block;
}

/*-------------------------------------------------------------
       Feed
--------------------------------------------------------------*/


.hr-feed{
    position: fixed;
    width: 100%;
    margin: 0 auto;
    z-index: 10;
}

  @media (min-width: 992px) {
      .gedf-main {
          padding-left: 4rem;
          padding-right: 4rem;
      }
      .gedf-card {
          margin-bottom: 2.77rem;
      }
  }
  .dropdown-toggle::after {
      content: none;
      display: none;
  }

.icon-avoid img{
    width: 70%;
}

.nav-fix{
    height: 4.5em;
}

.media-body h5{
 font-size: 1em;
}
.media-body h6{
 font-size: 0.8em;  
}
.itens-card a{
 font-size: 0.7em;
}

.card-profile,
.ads{
    margin-top: 5em;
}
.card{
    font-size: 0.95em;
}

.list-group-item,
.list-group-item .h6,
.list-group-item .h5{
   font-size: 0.95em;
}

  /*-------------------------------------------------------------
        Feed (Tabs)
  --------------------------------------------------------------*/

.browser-pic{
    border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
border: 1px solid #cecece;
    padding: 10px 0px;
}

.form-control-picture{
  display: block;
  width: 100%;
  height: calc(4.05rem + 2px);
  padding: 1.4rem 4.375rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #424753;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  transition: border-color .15s ease-in-out, box-shadow none
}

label{
	text-align: center;
	color: #cecece;
    font-size: 3.0em;
    margin: 0 1em 0 0;
    padding: 0;
}

.hidden, #uploadImg:not(.hidden) + label{
	display: none;
}

#file{
	display: none;
  	margin: 0 auto;
}

.input{
    background: #6c59b4;
    font-size: 1em;
}

#upload{
	display: block;
	padding: 10px 0px;
	border: 0;
	margin: 0 auto;
	font-size: 1em;
	cursor: pointer;
	background: #6c59b4;
	color: #fff;
	outline: none;
	transition: .3s ease-in-out;
	&:hover, &:focus{
		background: #6c59b4;
	}
	&:active{
		background: #6c59b4;
		transition: .1s ease-in-out;
	}
}
.fa-globe-americas{
    font-size: 1.5em;
}

  .tabs {
  	position: relative;
/*  	overflow: hidden;*/
  	margin-top: 4em;
  	width: 100%;
  	font-size: 1.25em;
  }

  .tabs nav {
  	text-align: center;
  }

  .tabs nav ul {
  	position: relative;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: -moz-flex;
  	display: -ms-flex;
  	display: flex;
  	margin: 0 auto;
  	padding: 0;
  	max-width: 1200px;
  	list-style: none;
  	-ms-box-orient: horizontal;
  	-ms-box-pack: center;
  	-webkit-flex-flow: row wrap;
  	-moz-flex-flow: row wrap;
  	-ms-flex-flow: row wrap;
  	flex-flow: row wrap;
  	-webkit-justify-content: center;
  	-moz-justify-content: center;
  	-ms-justify-content: center;
  	justify-content: center;
  }

  .tabs nav ul li {
  	position: relative;
  	z-index: 1;
  	display: block;
  	margin: 0;
  	text-align: center;
  	-webkit-flex: 1;
  	-moz-flex: 1;
  	-ms-flex: 1;
  	flex: 1;
  }

  .tabs nav a {
  	position: relative;
  	display: block;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  }

  .tabs nav a span {
  	vertical-align: middle;

  }

  .tabs nav li.tab-current a {
  	color: #74777b;
  }

  .tabs nav a:focus {
  	outline: none;
  }

  .content-wrap {
  	position: relative;
  }

  .content-wrap section {
  	display: none;
  	margin: 0 auto;
  	padding: 1em;
  	max-width: 1200px;
  	text-align: center;
  }

  .content-wrap section.content-current {
  	display: block;
  }

  .content-wrap section p {
  	margin: 0;
  	padding: 0.75em 0;
  	color: rgba(40,44,42,0.05);
  	font-weight: 900;
  	font-size: 4em;
  	line-height: 1;
  }

  .no-js .content-wrap section {
  	display: block;
  	padding-bottom: 2em;
  	border-bottom: 1px solid rgba(255,255,255,0.6);
  }

  .no-flexbox nav ul {
  	display: block;
  }

  .no-flexbox nav ul li {
  	min-width: 15%;
  	display: inline-block;
  }

  @media screen and (max-width: 58em) {
  	.tabs nav a.icon span {
  		display: none;
  	}
  	.tabs nav a:before {
  		margin-right: 0;
  	}
  }

  .tabs-style-flip {
  	max-width: 1200px;
  }

  .tabs-style-flip nav a {
  	padding: 0.5em 0;
  	-webkit-transition: color 0.3s;
  	transition: color 0.3s;
  }

  .tabs-style-flip nav a:hover,
  .tabs-style-flip nav a:focus,
  .tabs-style-flip nav li.tab-current a {
  	color: #74777b;
  }

  .tabs-style-flip nav a span {
  	text-transform: uppercase;
  	letter-spacing: 1px;
  	font-weight: 700;
  	font-size: 0.625em;
  }

  .tabs-style-flip nav a::after {
  	position: absolute;
  	top: 0;
  	left: 0;
  	z-index: -1;
  	width: 100%;
  	height: 100%;
  	background-color: #f0f0f0;
  	content: '';
  	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  	transition: transform 0.3s, background-color 0.3s;
  	-webkit-transform: perspective(900px) rotate3d(1,0,0,90deg);
  	transform: perspective(900px) rotate3d(1,0,0,90deg);
  	-webkit-transform-origin: 50% 100%;
  	transform-origin: 50% 100%;
  	-webkit-perspective-origin: 50% 100%;
  	perspective-origin: 50% 100%;
  }

  .tabs-style-flip nav li.tab-current a::after {
  	background-color: #fff;
  	-webkit-transform: perspective(900px) rotate3d(1,0,0,0deg);
  	transform: perspective(900px) rotate3d(1,0,0,0deg);
  }

  .tabs-style-flip .content-wrap {
  	background: #fff;
  }

  /*-------------------------------------------------------------
          Slider
  --------------------------------------------------------------*/
/*

  .slider-section {
      margin-top: 7.0em;
  }

  .slider {
      position: relative;
      overflow: hidden;
      width: 100%;
      background: #1c1e23;
      -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
  }

  .slider ul {
      margin: 0;
      padding: 0;
      white-space: nowrap;
      list-style-type: none;
  }

  .slider ul li {
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      transform: translateZ(0);
      float: left;
      display: block;
      margin: 0;
      padding: 0;
  }

  .slider ul li > a,
  .slider ul li > div {
      display: block;
      text-align: center;
      outline: none;
  }

  .slider ul li > a img {
      border: none;
      display: block;
      margin: 0 auto;
      max-width: 100%;
  }

  .slider nav span {
      position: absolute;
      top: 55%;
      color: #fff;
      font-size: 20px;
      text-align: center;
      margin-top: -50px;
      cursor: pointer;
      font-weight: bolder;
      border: solid 1px #ddd;
      border-radius: 100%;
      padding: 5px 10px;
  }

  .slider nav span:hover {
      background: #2754eb;
      color: #fff;
      border: solid 1px #2754eb;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      transform: scale(1);
  }

  .slider nav span.next {
      right: 30px;
  }

  .slider nav span.prev {
      left: 30px;
  }

  .dots {
      position: absolute;
      bottom: 0px;
      white-space: nowrap;
      text-align: center;
      width: 100%;
  }

  .dots span {
      display: inline-block;
      width: 18px;
      height: 18px;
      background: #ddd;
      margin: 4px;
      border-radius: 50%;
      cursor: pointer;
  }

  .dots span:hover {
      background: #999;
  }

  .dots span.current {
      background: #2754eb;
      box-shadow: 0 0 0 2px #2754eb;
      -webkit-transition: box-shadow 0.2s ease-in-out;
      -moz-transition: box-shadow 0.2s ease-in-out;
      transition: box-shadow 0.2s ease-in-out;
  }
*/

  /*-------------------------------------------------------------
          Rodape
  ----------------------------------------------------------------*/

  /* .footer-main {
      text-align: center;
      margin: 2.5em 0 0 0;
  }

  .header-footer h1 {
      color: #fff;
  }

  .header-footer {
      padding: 4.0em 0;
      border-bottom: solid 1px #4e4e4e;
      background: #393939;
  }

  .footer-bottom {
      background: #1D1D1D;
  }

  .nav-footer-menu {
      padding: 4.0em 0;
  }

  .nav-footer-menu li {
      display: inline-block;
  }

  .nav-footer-menu a {
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      font-size: 1.2em;
      color: #FFF;
      padding: 0 5px;
      text-transform: uppercase;
  }

  .nav-footer-menu a:hover {
      color: #2754eb;
  }

  .fa-icon-social-footer span {
      padding-left: 5%;
      margin: 0 auto;
  }

  .fa-icon-social-footer a {
      color: #F3F3F3;
      cursor: pointer;
      text-decoration: none;
  }

  .fa-icon-social-footer a:hover {
      color: #2754eb;
  }

  .terms p {
      padding: 0.5em 0;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-size: 1.2em;
      color: #585858;
  } */

/*-------------------------------------------------------------
       Perfil
--------------------------------------------------------------*/

/*
.profile-section {
    display: table;
    margin-top: 5.5em;
}

.profile-block {
    display: table-row;
}

.profile img {
    width: 10.2em;
    height: 10.2em;
    float: left;
    border: solid 1px #fff;
    border-radius: 100%;
    margin: 0.7em;
}

.profile-fix {
    padding: 0 0.9em;
    overflow: auto;
}

.profile {
    display: table-cell;
    margin: 0.1em 0;
    background: #F3F3F3;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
    width: 80%;
}

.profile h1 {
    color: #393939;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    line-height: 3.0em;
    text-transform: uppercase;
}

.profile p {
    color: #393939;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    line-height: 1.9em;
}

.profile-counter {
    display: table-cell;
    text-align: center;
}

.profile-counter p {
    color: #393939;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    padding: 1.2em 2.1em;
}

.profile-counter span {
    display: block;
    color: #2754eb;
    font-family: 'Roboto', sans-serif;
    font-size: 1.9em;
}

.profile-ranking {
    display: table-cell;
    background: #F3F3F3;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
    width: 20%;
}

.profile-ranking p {
    color: #393939;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    line-height: 2.9em;
    text-transform: uppercase;
    display: block;
    padding-left: 0.7em;
    margin-bottom: 1.0em;
}

.profile-ranking span {
    font-family: 'Roboto', sans-serif;
    font-size: 3.3em;
    color: #2754eb;
    position: relative;
    padding-left: 0.6em;
    display: block;
}

.profile-section-row {
    position: relative;
    display: block;
    margin: 0 auto;
    background: #F3F3F3;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
    width: 100%;
}

.profile-row p {
    color: #393939;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    line-height: 1.9em;
}
*/
/*-----------------------------------------------------------------
    Grid - Favoritos
-----------------------------------------------------------------*/

/* .grid img {
    width: 100%;
    height: 130px;
}

.grid {
    margin: 1.3em 2.0em;
    position: relative;
    background: #F3F3F3;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
}

.grid h1 {
    color: #393939;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
}

.grid p:last-of-type {
    color: #2754eb;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.4em;
    padding-left: 0.4em;
}

.grid span {
    opacity: 0;
    text-shadow: 1px 1px 1px #000000;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    padding: 65px;
    height: 70%;
    top: 0;
    left: 0;
    right: 0;
    cursor: pointer;
}

.grid span:hover {
    opacity: 1;
} */

/*----------------------------------------------------------
    Destaques
-------------------------------------------------------------*/

/* .featured img {
    width: 20.0em;
    height: 12.2em;
    float: left;
}

.featured-fix {
    padding: 0 0.9em;
    overflow: auto;
}

.featured {
    position: relative;
    margin: 0.1em 0;
    background: #F3F3F3;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
}

.featured h1 {
    color: #393939;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    line-height: 3.0em;
    text-transform: uppercase;
}

.featured-fix p:first-of-type {
    color: #cacacaff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    line-height: 1.9em;
}

.featured-fix p {
    color: #393939;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    line-height: 1.9em;
}

.featured span {
    padding: 0 15px;
    color: #c4c3c3;
    font-weight: normal;
    text-decoration: line-through;
    position: relative;
}

.featured span {
    opacity: 0;
    text-shadow: 1px 1px 1px #000000;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    padding: 61px;
    top: 0;
    left: 0;
    right: 0;
    cursor: pointer;
}

.featured span:hover {
    opacity: 1;
}

.featured-more p,
.comments-more p {
    color: #393939;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    text-align: center;
    padding: 2.1em 0;
}

.featured-more span,
.comments-more span {
    opacity: 0;
    text-shadow: 1px 1px 1px #000000;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    padding: 32px;
    top: 0;
    left: 0;
    right: 0;
    cursor: pointer;
}

.featured-more span:hover,
.comments-more span:hover {
    opacity: 1;
} */

/*-------------------------------------------------------------
        Comentarios
----------------------------------------------------------------*/

/* .comments {
    position: relative;
    background: #F3F3F3;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
}

.col-content {
    margin-left: 0.5em;
}

.comments img {
    width: 65px;
    height: 65px;
    float: left;
    border: solid 1px #fff;
    border-radius: 100%;
    margin: 0.7em;
}

.comments-fix {
    overflow: auto;
    padding: 0.9em 0.9em;
}

.comments h1 {
    color: #393939;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    line-height: 2.0em;
    text-transform: uppercase;
}

.comments-fix p:first-of-type {
    color: #cacacaff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    line-height: 1.9em;
}

.comments-fix p {
    color: #393939;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    line-height: 1.9em;
} */


/*-------------------------------------------
        Grid vp 1170px
---------------------------------------------*/

/*
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

@media (min-width: 1170px) {
    .container {
        max-width: 1170px;
        padding: 0;
    }
}

.row {
    margin-left: -5px;
    margin-right: -5px;
}

.row:before,
.row:after {
    content: "";
    display: table;
}

.row:after {
    clear: both;
}

.col {
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-right: -4px;
    *zoom: 1;
    *display: inline;
}

@media (min-width: 480px) {
    .col-2 {
        width: 50%;
    }
}

@media (min-width: 728px) {
    .col-3 {
        width: 33.3333%;
    }
}

@media (min-width: 992px) {
    .col-4 {
        width: 25%;
    }
}

@media (min-width: 992px) {
    .col-content {
        width: 60%;
    }

    .col-sidebar {
        width: 40%;
    }
}
*/

/*-------------------------------------------------------------
        Profile
----------------------------------------------------------------*/

/*
.profile,
.profile-assets{
    margin: 10.0em 0;
    display: block;
}
.profile img{
    border-radius: 100%;
    margin: 0 auto;
    position: relative;
    width: 30%;
    height: auto;
    min-width: 200px;
    margin: 0 0 0 15%;
}
.profile-assets h3{
    color: #393939;
    font-family: 'Roboto', sans-serif;
    font-size: 4.5em;
    line-height: 1.5em;
}
.profile-assets h2{
    color: #2754eb;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    line-height: 1.5em;
}
.profile-assets p {
    color: #393939;
    font-family: 'Roboto', sans-serif;
    font-size: 1.9em;
    line-height: 1.4em;
    margin: 1em 0 0 0;
}

.btn-follow {
  width: 6em;
  margin-left:1em;
  background-color: #4CAF50;  Green 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  cursor: pointer;
  position: relative;
  float: right;
}
.btn-msg {
  width: 6em;
  margin-left:1em;
  background-color: #393939;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  cursor: pointer;
  position: relative;
  float: right;
}
..btn-follow,.btn-msg  {border-radius: 4px;}
*/


/*-------------------------------------------------------------
        Profile Groups
----------------------------------------------------------------*/


/*
.profile-group {
	list-style: none;
	margin: 0;
	padding: 0;
}
.profile-group .select {
	cursor: pointer;
}

.profile-group h3 {
    font-family: 'Roboto',sans-serif;
    color: #393939;
    line-height: 1.9em;
	margin: 0 0 0.3em;
	padding: 1em 0 0.5em;
	border-bottom: 1px solid #ddd;
	font-size: 2.75em;
	font-weight: 300;
}

.profile-group .content p {
	font-family: 'Roboto',sans-serif;
    font-size: 1.5em;
}

 Arrow icons 
.profile-group > li > .select:before{
	font-family: 'icomoon';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color: #ddd;
	margin-right: 0.5em;
	-webkit-font-smoothing: antialiased;
}

.profile-group > li > .select:before {
	font-size: 75%;
}

.profile-group > li > .select:before {
	content: "\36";
}
.profile-group > li > .select:hover:before {
	content: "\35";
	color: inherit;
}
.profile-group > li.ntopen > .select:before,
.no-js .profile-group > li > .select:before {
	content: "\34";
	color: inherit;
}
.profile-group .content {
	height: 0;
	overflow: hidden;
}
.profile-group .open > .content,
.no-js .profile-group .content {
	height: auto;
}
@media screen and (max-width: 32em) {

	.profile-group {
		font-size: 70%;
	}

}



.content img {
    margin: 0 auto;
    min-width: 100px;
    width:180px;
    position:relative;
    top:50%;
    left:25%;
    padding: 20% 0 0 0;
}
.col-3:nth-child(2),
.col-3:nth-child(3){
    background: #F3F3F3;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
}
*/



/*
.profile-counter {
    display: table-cell;
    text-align: center;
    padding: 0 3em 0 0;
    background: #F3F3F3;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
}
*/
/*
.profile-counter p,
.profile-ranking p{
     color: #393939;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    line-height: 2.9em;
    text-transform: uppercase;
    padding-left: 0.7em;
    margin-bottom: 1.0em;
    text-align: center;
}

.profile-counter span,
.profile-ranking span{
   font-family: 'Roboto', sans-serif;
    font-size: 3.3em;
    line-height: 0.9em;
    color: #2754eb;
    position: relative;
    display: block;
}
*/
